/* $breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 2rem;
}

.container {
  background: lightblue;
  min-height: 100vh;
  margin: 2rem;
}

@media (max-width: $breakpoint-tablet) {
  .container {
    background: lightblue;
    margin: 1rem;
  }
  .slider {
    margin: 1.2rem;
  }
}

@media (max-width: $breakpoint-mobile) {
  .container {
    background: lightblue;
    margin: 0.5rem;
  }
  .slider {
    margin: 1.2rem;
  }
} */

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.container {
  background: rgb(194, 228, 240);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  max-width: 90%;
  border: 1px solid white;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
